.SideDrawer {
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  z-index: 200;
  transition: transform 0.3s ease-out;
}

@media only screen and (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.SideDrawer img {
  width: 180px;
  height: auto;
  margin-bottom: 40px;
}
